body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.forgot {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registration-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.registration-button:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #007bff;
}

.login-link:hover {
    text-decoration: underline;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 100px;
    height: 140px;
}

.Title {
    font-size: 28px;
    margin-bottom: 20px;
}